@import url('../styles/style.css');
@import url('../styles/intros.css');

@media (max-width: 1200px) {

    .page_title {
        max-height: 70%;
        font-size: 2rem;
    }

    .page_title p {
        font-size: 1.1rem;
    }
}